<%- include('../layout/head') %>
        <%- include('../layout/sidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <%- include('../layout/navbar') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                
                    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>

                 <!-- End of Filter Dropdowns -->

                </div>

                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

           

            <!-- Footer -->
            <%- include('../layout/footer') %>
<%- include('../layout/tail') %>