<%- include('../layout/head') %>
<%- include('../layout/sidebar') %>
<div id="content-wrapper" class="d-flex flex-column">
	<div id="content">
		<%- include('../layout/navbar') %>
		<div class="container-fluid">
			<h1 class="h3 mb-2 text-gray-800">Polls</h1>
			<% if (!polls || polls.length === 0) { %>
				<div class="alert alert-info" role="alert">
						No Polls available.
				</div>
			<% } else { %>
				<div class="card shadow mb-4 mt-4">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover text-center">
								<h4 class="mb-3">Polls List</h4>
								<div class="row justify-content-between px-3">
									<label>
										<input type="search" class="search form-control form-control-md my-4" id="searchInput" placeholder="Search"/>
									</label>

									<!-- Filters Dropdown -->
									<div class="dropdown position-relative">
										<a class="btn btn-primary dropdown-toggle" href="#" role="button" onclick="showFilters()">
											Filter
										</a>
										<div class="dropdown-menu fa-w-19 p-4 position-absolute" onclick="stopPropagation(event)" id="dropdown" style="width: 500px; top: 50px; left: -400px;">
											<div class="row mb-3">
												<!-- Role dropdown begins here -->
												<div class="col-md-6 col-lg-6">
												 	<select class="form-control filter-dropdown" id="OwnerName" data-column="1">
														<option value="" selected>Filter by Name</option>
														<% const names = new Set(); %>
														<% console.log(names) %>
														<% polls.forEach(function(poll) { %>
														<% names.add(poll.userId.name); %>
														<% }); %>
														<% names.forEach(function(name) { %>
														<option value="<%= name %>"><%= name %></option>
														<% }); %>
												 	</select>
												</div>
										 	</div>
											 <div class="d-flex" style="gap: 10px;">
												<div class="">
													<button class="btn btn-outline-success" onclick="applyFilters()">Apply Filters</button>
												</div>
												<div class="">
													<button class="btn btn-outline-danger" onclick="resetFilters()">Reset Filters</button>
												</div>
												<div>
													<button class="btn btn-outline-secondary" onclick="hideFilters()">Close</button>
												</div>
											</div>
										</div>
									</div>
									<thead>
										<tr>
											<th scope="col">Sl. No</th>
											<th scope="col">Owner</th>
											<th scope="col">Question</th>
											<th scope="col">Caption</th>
											<th scope="col">Likes</th>
											<th scope="col">Comments</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody id="pollsTableBody">
										<% polls.forEach((poll, index) => { %>
											<tr  class="poll" onclick="window.location='/admin-panel/polls/view-poll/<%= poll._id %>'">
												<td><%= index + 1%></td>
												<td><%= poll.userId.name%></td>
												<td><%= poll.question %></td>
												<td><%= poll.caption %></td>
												<td><%= poll.likes.length %></td>
												<td><%= poll.comments.length %></td>
												<td>
													<button type="button" class="btn btn-outline-danger" onclick="event.stopPropagation();showDeletePopup('<%=poll._id%>')">Delete</button>
												</td>
											</tr>
										<% }) %>
									</tbody>
								</div>
							</table>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</div>
<div class="modal fade" id="deleteConfirmationModal" role="dialog">
	<div class="modal-dialog" role="document">
			<div class="modal-content">
					<div class="modal-header">
							<h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
							<button type="button" class="close" aria-label="Close" onclick="hideDeletePopup()">
									<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">
							Are you sure you want to delete this poll?
					</div>
					<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideDeletePopup()">Cancel</button>
							<button type="button" class="btn btn-danger" onclick="deletePoll()">Delete</button>
					</div>
			</div>
	</div>
</div>

<script>
	function stopPropagation(event) {
		event.stopPropagation()
	}

	window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

	let getDeleted = null

	function showFilters() {
		const dropdownMenu = document.getElementById("dropdown")
		dropdownMenu.classList.add("show")
	}

	function hideFilters() {
		const dropdownMenu  = document.getElementById("dropdown")
		dropdownMenu.classList.remove("show")
	}

	function resetFilters() {

	}

	function applyFilters() {

	}

	function showDeletePopup(id) {
		const modal = document.getElementById('deleteConfirmationModal')	
		getDeleted = id;
		modal.classList.add("show")
	}

	function hideDeletePopup() {
		getDeleted = null;
		const modal = document.getElementById('deleteConfirmationModal')	
		modal.classList.remove("show")
	}

	async function deletePoll() {
		try {
			const resp = await fetch(`delete/${getDeleted}`, {method: 'DELETE'})
			const data = await resp.json()
			console.log(data)
			if(data.success) self.location.reload()
			else window.alert("There was some error while deleting the poll")
			hideDeletePopup()
		} catch(err) {
			console.log("Error: ", err)
		}
	}
</script>